<!DOCTYPE html>
<html lang="en" dir="ltr">

   <head>
      <meta charset="utf-8">
      <title>R U L E S</title>
   </head>

   <body><center]>
      <fieldset>
         <legend align="center"><h1><font color="teal"><b><u>KEEP THE FOLLOWINGS IN MIND DURING CREATION OF A NEW ACCOUNT</u></b></h1></legend>
            <table border="4" align="center">
               <tr>
                  <td><font color="brown"><center>_1_</center></td>
                  <td><font color="brown"><b>all the mentioned text areas should be filled up accordingly</b></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_2_</center></td>
                  <td><font color="brown"><b>fullname must be of at least 6 characters and the name should only contain the following characters :- </b><br><center><b>**    A-Z  ,  a-z  ,  0-9  ,  spacebar [ ]  ,  dash/hyphen  [-]  ,  underscore  [ _ ]</b></center></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_3_</center></td>
                  <td><font color="brown"><b>all the usernames must be of at least 4 characters</b></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_4_</center></td>
                  <td><font color="brown"><b>password must be of at least 6 characters and it must contain at least one special character / symbol</b></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_5_</center></td>
                  <td><font color="brown"><b>email must contain  " @ " between the address to fulfill the authenticity</b></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_6_</center></td>
                  <td><font color="brown"><b>a profile picture is mandatory to complete the registration process</b></td>
               </tr>
               <tr>
                  <td><font color="brown"><center>_7_</center></td>
                  <td><font color="brown"><b>The image must not be existant to the expected directory and it should be of the specified extensions indeed...</b></td>
               </tr>
               <tr>
                  <td colspan="2"><hr><hr></td>
               </tr>
            </table>
            <font color="brown"><center><br><font color="indigo"><a href="CreateNewAccount.php"><h2><b><i>Here you go.... Please go ahead and enjoy the e_taka</i></b></h2></a></center>
      </fieldset>

   </center></body>
</html>
